@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

$color_1: #96a9bb;
$color_2: #001837;
$background-color_1: #ffffff;
$border-color_1: #001837;

.headerContainer {
    height: 66px;

    .header {
        min-width: 1140px;
        background-color: $background-color_1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        box-shadow: 0 1px 3px 0 rgba(150, 169, 187, 0.28);
        -moz-box-shadow: 0 1px 3px 0 rgba(150, 169, 187, 0.28);
        -webkit-box-shadow: 0 1px 3px 0 rgba(150, 169, 187, 0.28);

        .container {
            min-width: 1140px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;

            .logo {
                width: 125px;
                margin: 19px 0 0 40px;


                img {
                    width: 100%;
                }
            }

            .navigation {
                margin: 22px 0 0 50px;


                ul {
                    display: flex;

                    li {
                        list-style: none;

                        margin-right: 35px;

                        a {
                            font-size: 16px;
                            font-weight: normal;
                            color: $color_1;
                            text-decoration: none;
                            border-bottom: transparent solid 2px;
                            display: inline-block;
                            padding-bottom: 22px;

                            &:hover {
                                color: $color_2;
                                border-color: $border-color_1;
                            }
                        }

                        a.active {
                            color: $color_2;
                            border-color: $border-color_1;
                        }
                    }
                }
            }
            .headerRight{
                display: flex;

                .headSearch{
                    display: flex;
                    border-right:solid 1px #e9edf1;
                    height:66px;
                    padding-right:20px;
                    padding-top:17px;  

                    .headSearch input{
                        display: flex;
                        width: 128px;
                        padding:6px 15px;
                        background-color: $background-color_1;
                        border: solid 2px #e9edf1;
                        font-size: 14px;
                        color: $color_1;
                        background-image:url(../../images/search.png);
                        background-position:right center;
                        background-repeat:no-repeat;
                        border-radius: 50px;
                        -moz-border-radius: 50px;
                        -webkit-border-radius: 50px;
                    }
                }

            }
        }
    }
}