.accContent {
    width: 848px;
    border-left: #dfeef5 solid 1px;
    margin-left: -1px;
    float: left;

    .trasactionHead {
        height: 55px;
        position: relative;
        background-color: #f9fcfd;
        border-bottom: 1px solid #dfeef5;

        .backtoTrans {
            display: inline-block;
            padding-left: 20px;
            background-image: url(../../../images/arrow-left-blue.svg);
            background-repeat: no-repeat;
            background-position: left 2px;
            font-size: 12px;
            margin: 20px 0 0 30px;
            font-weight: 600;
            color: #1f6dd1;
            text-decoration: none;
        }

        .updateNowBtn {
            position: absolute;
            right: 30px;
            top: 18px;

            :hover {
                color: #216ccd;
            }
        }
    }

    .tabContainer {
        padding: 25px 30px;

        h2 {
            font-size: 18px;
            font-weight: 400;
            color: #001837;
            margin-bottom: 30px;
        }

        .singleTransTable {
            table {
                width: 100%;
                margin-bottom: -1px;
                table-layout: auto;
                border: #dfeef5 solid 1px;

                .singleTransDetRow {
                    td {
                        padding: 15px 20px;
                        background-color: #f9fcfd;

                        strong {
                            font-weight: 600;
                            color: #001837;
                        }
                    }

                    span.rowTitle {
                        font-size: 12px;
                        font-weight: 600;
                        color: #5c6b7e;
                        text-transform: uppercase;
                    }
                }

                .transHelpNote {
                    td {
                        font-size: 13px;
                        font-weight: 400;
                        color: #96a9bb;
                        padding: 15px 20px;
                    }

                    a {
                        color: #001837;
                        text-decoration: none;
                    }
                }

                tr {
                    .text-right {
                        text-align: right;

                        .secondary_btn_red:hover {
                            background-color: #f8342d;
                            color: #ffffff;
                            border-color: #f8342d;
                        }

                        .secondary_btn_red.small_btn,
                        .alternate_btn.small_btn {
                            padding: 5px 14px 6px;
                            font-size: 14px;
                            font-weight: 400;
                            text-transform: capitalize;


                        }

                    }

                    td {
                        border-bottom: #dfeef5 solid 1px;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 1.29;
                        color: #96a9bb;
                        padding: 20px;

                        .completedBarBox {
                            position: relative;
                            height: 1px;

                            

                            .completeBarLine {
                                position: absolute;
                                top: 1px;
                                height: 4px;
                                background-color: #15c442;
                                
                                

                            }
                            .halfWidth {
                                width: 25%;
                                
                            }
                            .fullWidth {
                                width: 75%;
                            }

                            
                        }

                        .statusInfo {
                            border-top: #e9edf1 solid 4px;

                            .complete_status {
                                color: #5c6b7e;

                                ::after {
                                    content: '';
                                    position: absolute;
                                    top: -1px;
                                    left: 50%;
                                    margin-left: -5px;
                                    display: block;
                                    width: 0;
                                    height: 0;
                                    border-top: 7px solid #15c442;
                                    border-right: 5px solid transparent;
                                    border-left: 5px solid transparent;
                                }

                                &_title {
                                    font-weight: 600;
                                    color: #001837;
                                }

                                span {
                                    font-weight: 500;
                                    color: #001837;
                                }

                                strong {
                                    color: #1f6dd1;
                                }
                            }

                            li {
                                list-style: none;
                                width: 25%;
                                float: left;
                                padding-top: 15px;
                                padding-right: 10px;
                                font-size: 13px;
                                font-weight: 400;
                                letter-spacing: -0.2px;
                                color: #bac7cc;
                                position: relative;


                            }
                        }


                        .productInfo {
                            font-size: 18px;
                            font-weight: 600;
                            color: #001837;

                            span {
                                font-size: 14px;
                                font-weight: 400;
                            }
                        }

                        a.secondary_btn_red {
                            border-radius: 15px;
                            -moz-border-radius: 15px;
                            -webkit-border-radius: 15px;

                        }



                        span.rowTitle {
                            font-size: 12px;
                            font-weight: 600;
                            color: #5c6b7e;
                            text-transform: uppercase;
                        }
                    }


                    th {
                        background-color: #f1f8fa;
                        border-bottom: #dfeef5 solid 1px;
                        font-size: 13px;
                        font-weight: 600;
                        color: #5c6b7e;
                        text-transform: uppercase;
                        padding: 15px 0 15px 20px;
                        text-align: left;
                    }
                }
            }
        }

    }
}

.relationManagerPic {
    width: 42px;
    float: left;
    margin-right: 20px;

    img {
        .relationManagerPic img {
            width: 100%;
            border-radius: 100%;
            -moz-border-radius: 100%;
            -webkit-border-radius: 100%;
        }
    }
}

.relMangInfo {
    font-size: 16px;
    font-weight: 400;
    color: #001837;
    width: 220px;
    float: left;

    span {
        font-size: 13px;
        color: #96a9bb;

        em {
            font-size: 12px;
            font-weight: 700;
            color: #ffffff;
            width: 29px;
            font-style: normal;
            margin-right: 2px;
            padding: 2px 0;
            background-color: #5bdb7c;
            display: inline-block;
            text-align: center;
            border-radius: 8px;
            -moz-border-radius: 8px;
            -webkit-border-radius: 8px;
        }
    }
}

.messageLink {
    float: left;

    a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.5px;
        color: #1f6dd1;
        line-height: 21px;
        padding-left: 25px;
        background-image: url(../../../images/messageIcon.png);
        background-repeat: no-repeat;
        background-position: left center;
        display: inline-block;
    }
}

#cancelLightbox {
    display: block;
}

.commonLightbox {
    backdrop-filter: blur(2px);
    background-color: #fbfafb98;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    display: none;
    overflow-y: auto;
    background-color: #fbfafb98;

    h4 {
        margin-bottom: 10px;
    }

    .lightBox_container {
        width: 420px;
        background-color: #ffffff;
        margin: 10rem auto;
        border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        //box-shadow: 0px 0px 60px #888888;
        box-shadow: 0 12px 32px 0 #bac6cc80;
        // -moz-box-shadow: 0 12px 32px 0 rgba(186, 198, 204, 0.5);
        //-webkit-box-shadow: 0 12px 32px 0 rgb(186 198 204 / 50%);

        .lgtCloseBtn {
            position: relative;
            z-index: 1;

            .lightboxCloseBtn {
                width: 12px;
                height: 12px;
                background-image: url(../../../images/close.png);
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                right: 15px;
                top: 15px;
                display: block;
                overflow: hidden;
                text-indent: -99999999px;
            }

            a {
                color: #1f6dd1;
                text-decoration: none;
            }
        }

        .cancelLgContent {
            padding: 60px 40px 50px;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            color: #96a9bb;
            border-bottom: solid 1px #dfeef5;

            h4 {
                font-size: 24px;
                font-weight: 300;
                line-height: 1;
                color: #001837;
            }

            h5 {
                font-size: 16px;
                font-weight: 600;
                line-height: 1.5;
                color: #001837;
            }

            a {
                color: #1f6dd1;
                text-decoration: none;
            }
        }

        .cancelLgBtns {
            padding: 20px 30px;
            display: flex;
            justify-content: space-around;



            

            .primary_btn_red {
                text-decoration: none;
                padding: 15px 20px;
                display: inline-block;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: 1px;
                text-align: center;
                cursor: pointer;
                border-radius: 4px;
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                transition: all ease 0.3s;
                -moz-transition: all ease 0.3s;
                -webkit-transition: all ease 0.3s;
            }

            .primary_btn_red {
                background-color: #f8342d;
                border: #f8342d solid 1px;
                color: #ffffff;
            }

            .cancel_lg_Button {
                width: 48%;
                float: left;
            }

            .confirm_lg_Button {
                width: 48%;
                float: right;
            }

            .secondary_btn_red,
            .alternate_btn {
                text-decoration: none;
                padding: 15px 20px;
                display: inline-block;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: 1px;
                text-align: center;
                cursor: pointer;
                border-radius: 4px;
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                transition: all ease 0.3s;
                -moz-transition: all ease 0.3s;
                -webkit-transition: all ease 0.3s;
            }

            .secondary_btn_red {
                background-color: transparent;
                border: #f8342d solid 1px;
                color: #f8342d;
            }
        }

        .group {
            zoom: 1;
        }

        .text-center {
            text-align: center;
        }
    }
}