@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0px;
  border: none;
  table-layout: fixed;
  width: 100%;
}

table tr td {
  /* word-wrap: break-word */

}

iframe{
  display: none;
}


body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: #333333;
  font-size: 14px;
  background-color: #fafafa;
}

.btn-primary {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  border-radius: 40px;
  padding: 15px 40px;
  font-size: 16px;
  margin-top: 20px;
  //float: right;
  margin-right: 10px;
  background-color: #f8342d;
  border: #f8342d solid 1px;
  color: #ffffff;
}


* {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
}

a.helpIcon {
  float: right;
  display: block;
  background-image: url(./../../static/images/tooltip-icon.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  position: relative;
}


.lgtFormField label {
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: normal;
  color: #001837;
  display: block;
}

.lgtFormField input,
.lgtFormField select {
  padding: 10px 12px;
  font-size: 14px;
  width: 100%;
  font-weight: normal;
  color: #96a9bb;
  background-color: #fafafa;
  border: solid 1px #dfeef5;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.lgtFormField select {
  background-image: url(./../../static/images/dropdwonArrow.png);
  background-repeat: no-repeat;
  background-position: right center;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type="text"].filledInput,
input[type="password"].filledInput,
input[type="email"].filledInput {
  color: #001837;
  background-color: #ffffff;
  border-color: #dfeef5;
}

input[type="text"]:focus,
input[type="text"].filledInput:focus,
input[type="password"]:focus,
input[type="password"].filledInput:focus,
input[type="email"]:focus,
input[type="email"].filledInput:focus {
  color: #001837;
  background-color: #fbfdff;
  border-color: #c4ddfc;
}


.talktoAdv {
  background: url("./../../static/images/advisorNote.png") no-repeat left 27px;
  padding: 26px 0;
  padding-left: 90px;
  background-size: 122px;
}

.talktoAdv .lgtFormField {
  position: relative;
}

.talktoAdv h2 {
  font-size: 17px;
  margin-top: 0px;
  margin-bottom: 13px;
  color: #001837;
}

.talktoAdv input {
  padding-right: 75px;
  border-color: #d4d4d4;
  background-color: #fff;
  height: 36px;
  /* padding: 6px 12px; */
  font-size: 12px;
}

.talktoAdv .primary_btn_red {
  position: absolute;
  right: 0;
  top: 0;
  background: #001837;
  border-color: #001837;
  border-radius: 0 4px 4px 0;
  text-transform: none;
  font-weight: normal;
  letter-spacing: normal;
  height: 36px;
}



.RiskProfilandBanner {
  background: #f5f5f5;
  padding: 80px 0;
}

.RiskProfilandBanner h2 {
  font-size: 30px;
  color: #424242;
  margin-bottom: 20px;
}

.RiskProfilandBanner ul {
  float: left;
  width: 100%;
  list-style: none;
  padding: 15px 0 15px 35px;
  margin: 0px;
}

.RiskProfilandBanner ul li {
  background: url(./../../static/images/hand-arrow-right.png) no-repeat left top;
  padding: 0px 0 25px 40px;
}

.RiskProfilandBanner p {
  font-size: 16px;
  color: #424242;
  margin: 15px 0;
}

.RiskProfilandBanner .primary_btn_red {
  border-radius: 40px;
  padding: 15px 40px;
  font-size: 16px;
  margin-top: 20px;
  float: right;
  margin-right: 10px;
}

.RiskProfiland .homeGraphContain {
  background: #fff;
}


.breadcrums {
  padding: 24px 0;
  font-size: 14px;
  color: #96a9bb;
}

.breadcrums span {
  color: #000;
}

.breadcrums a {
  color: #96a9bb;
  text-decoration: none;
}

.breadcrums a:hover,
.breadcrums a:focus {
  color: #0078ff;
}



.innerContainer {
  margin-bottom: 70px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(92, 107, 126, 0.20);
  -moz-box-shadow: 0 2px 4px 0 rgba(92, 107, 126, 0.20);
  -webkit-box-shadow: 0 2px 4px 0 rgba(92, 107, 126, 0.20);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

// start Goal plan detail page


.rowNew1 {
  margin-right: -10px;
  margin-left: -10px;
  clear: both;
}

.GoalPlanPg {}

.GoalPlanPg .goalPlanHeader {
  padding: 20px;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #dfeef5;
  float: left;
}

.GoalPlanPg .goalPlanHeader .editData {
  float: left;
  width: 80%;
  list-style: none;
}

.GoalPlanPg .goalPlanHeader .editData li {
  float: left;
  padding: 0 45px 0 0;
}

.GoalPlanPg .goalPlanHeader .editData label {
  color: #96a9bb;
  width: 100%;
  font-size: 14px;
  text-transform: capitalize;
  margin-right: 10px;
  display: block;
}

.GoalPlanPg .goalPlanHeader .editData label a {
  background: url(./../../static/images/edit-icon.png) no-repeat top center;
  opacity: .4;
  height: 15px;
  width: 15px;
  display: inline-block;
  margin-bottom: -2px;
  margin-left: 10px;
}

.GoalPlanPg .goalPlanHeader .editData small {
  width: 100%;
  font-size: 16px;
  color: #001837;
  text-transform: capitalize;
}

.GoalPlanPg .goalPlanHeader .editData small em {
  font-style: normal;
}

.GoalPlanPg .goalPlanHeader .editData small input {
  border: none;
  border-bottom: 1px solid #001837;
  width: 25px;
  font-size: 16px;
  color: #001837;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}

.GoalPlanPg .goalPlanHeader .editData small em span {
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}

.GoalPlanPg .goalPlanHeader .editData li:last-child {
  padding-right: 0px;
}

.GoalPlanPg .goalPlanHeader .editData label a:hover {
  opacity: 1;
}

.rightEditData {
  float: right;
  width: 100%;
  list-style: none;
  min-height: 500px;
}

.rightEditData li {
  float: right;
  padding-left: 40px;
}

.rightEditData li a {
  float: none;
  display: inline-block;
  margin-bottom: -2px;
  margin-left: 5px;
}

.rightEditData li a.primary_btn_red {
  margin: 0;
  padding: 13px 25px;
}

.rightEditData li label {
  color: #96a9bb;
  width: 100%;
  font-size: 14px;
  text-transform: capitalize;
  display: block;
}

.rightEditData li p {
  color: #f8342d;
  font-size: 24px;
  line-height: 30px;
  text-transform: none;
}

.rightEditData li p.totalAmount {
  color: #001837;
}

.rightEditData li:last-child {
  padding-left: 0px;
}

.GoalPlanPg .goaltab {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #dfeef5;
  position: relative;
}

.GoalPlanPg .goaltab ul {
  float: left;
  width: 100%;
  list-style: none;
}

.GoalPlanPg .goaltab ul li {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.GoalPlanPg .goaltab ul li a {
  float: left;
  display: block;
  text-decoration: none;
  padding: 25px 10px;
  margin: 0;
  border: 1px solid transparent;
  border-left: 1px solid #dfeef5;
}

.GoalPlanPg .goaltab ul li a label {
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  color: #96a9bb;
  float: left;
  width: 100%;
  text-align: center;
}

.GoalPlanPg .goaltab ul li a p {
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  color: #001837;
  float: left;
  width: 100%;
  text-align: center;
}

.GoalPlanPg .goaltab ul li:first-child a {
  background: #f9fcfd;
}

.GoalPlanPg .goaltab ul li:first-child a label {
  font-size: 16px;
  cursor: default;
  text-transform: none;
  color: #96a9bb;
  float: left;
  width: 100%;
  text-align: center;
}

.GoalPlanPg .goaltab ul li:first-child a p {
  font-size: 12px;
  cursor: default;
  text-transform: none;
  color: #96a9bb;
  float: left;
  width: 100%;
  text-align: center;
}

/*.GoalPlanPg .goaltab ul li a:hover {border:1px solid #1f6dd1;}
.GoalPlanPg .goaltab ul li a:hover label{ color: #1f6dd1}
.GoalPlanPg .goaltab ul li a:hover p{ color: #1f6dd1;}

.GoalPlanPg .goaltab ul li:first-child a:hover {border:1px solid transparent;}
.GoalPlanPg .goaltab ul li:first-child a:hover label{ color: #96a9bb}
.GoalPlanPg .goaltab ul li:first-child a:hover p{ color: #96a9bb;}*/

.GoalPlanPg .goaltab ul li input[type="radio"] {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  left: 0;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

.GoalPlanPg .goaltab ul li input[type="radio"]+a {}

.GoalPlanPg .goaltab ul li input[type="radio"]:checked+a {
  border: 1px solid #1f6dd1;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}

.GoalPlanPg .goaltab ul li input[type="radio"]:checked+a label {
  color: #1f6dd1;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}

.GoalPlanPg .goaltab ul li input[type="radio"]:checked+a p {
  color: #1f6dd1;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}

.GoalPlanPg .goaltab ul li:last-child input[type="radio"]:hover+a {
  border-right: 1px solid #dfeef5;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}

.GoalPlanPg .goaltab ul li:last-child input[type="radio"]:checked:hover+a {
  border-right: 1px solid #1f6dd1;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}

.GoalPlanPg .goaltab ul li input[type="radio"]:hover+a label {
  /* color: #1f6dd1*/
}

.GoalPlanPg .goaltab ul li input[type="radio"]:hover+a p {
  /*color: #1f6dd1*/
}


.GoalPlanPg .goaltab ul li input[type="radio"]:checked+a:after,
.GoalPlanPg .goaltab ul li input[type="radio"]:checked+a:before {
  top: 99%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}

.GoalPlanPg .goaltab ul li input[type="radio"]:checked+a:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.GoalPlanPg .goaltab ul li input[type="radio"]:checked+a:before {
  border-color: rgba(31, 109, 209, 0);
  border-top-color: #1f6dd1;
  border-width: 11px;
  margin-left: -11px;
}

.GoalPlanPg .goaltab ul li input[type="radio"]:checked:hover+a:after,
.GoalPlanPg .goaltab ul li input[type="radio"]:checked:hover+a:before {
  top: 99%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.GoalPlanPg .goaltab ul li input[type="radio"]:checked:hover+a:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.GoalPlanPg .goaltab ul li input[type="radio"]:checked:hover+a:before {
  border-color: rgba(31, 109, 209, 0);
  border-top-color: #1f6dd1;
  border-width: 11px;
  margin-left: -11px;
}


.GoalPlanPg .goaltab ul li input[type="radio"]:hover+a:after,
.GoalPlanPg .goaltab ul li input[type="radio"]:hover+a:before {
  top: 99%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}

.GoalPlanPg .goaltab ul li input[type="radio"]:hover+a:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.GoalPlanPg .goaltab ul li input[type="radio"]:hover+a:before {
  border-color: rgba(31, 109, 209, 0);
  border-top-color: #dfeef5;
  border-width: 11px;
  margin-left: -11px;
}



.GoalPlanPg .goalbody {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #dfeef5;
  padding: 20px;
}

.GoalPlanPg .goalbody {}

.GoalPlanPg .goalbody h2 {
  color: #001837;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 30px 0px 50px 0;
  float: left;
  width: 100%;
  text-align: center;
}

.GoalPlanPg .goalbody table {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

.GoalPlanPg .goalbody table tr th {
  padding: 0px 5px 20px 20px;
  border-bottom: 1px solid #e2e7e9;
  font-size: 14px;
  color: #001838;
  font-weight: normal;
  position: relative;
  text-align: left;
}

.GoalPlanPg .goalbody table tr td {
  padding: 20px 5px 20px 20px;
  border-bottom: 1px solid #e2e7e9;
  font-size: 14px;
  color: #96a9bb;
  position: relative;
  text-align: left;
}

.GoalPlanPg .goalbody table span.high {
  background: #d10700;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  margin-right: 4px;
  position: absolute;
  left: 0px;
  top: 24px;
}

.GoalPlanPg .goalbody table span.mid {
  background: #f8342d;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  margin-right: 4px;
  position: absolute;
  left: 0px;
  top: 24px
}

.GoalPlanPg .goalbody table span.low {
  background: #ff4d47;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  margin-right: 4px;
  position: absolute;
  left: 0px;
  top: 24px
}

.GoalPlanPg .goalbody table span.Equity {
  background: #f8342d;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  margin-right: 4px;
  position: absolute;
  left: 0px;
  top: 24px;
}

.GoalPlanPg .goalbody table span.Debt {
  background: #1f6dd1;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  margin-right: 4px;
  position: absolute;
  left: 0px;
  top: 24px;
}

.GoalPlanPg .goalbody table span.Hybrid {
  background: #00cb91;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  margin-right: 4px;
  position: absolute;
  left: 0px;
  top: 24px;
}

.GoalPlanPg .goalbody table strong {
  font-weight: bold;
  color: #001838;
}

.GoalPlanPg .goaltext {
  display: inline-block;
  width: 100%;
  padding: 0px;
}

.GoalPlanPg .goaltext .CalcHomeBgProces.CalcFundRec {
  background: #fff;
  padding: 50px 0;
}

.GoalPlanPg .goaltext h3 {
  font-size: 24px;
  color: #001837;
  float: left;
  width: 100%;
  margin: 10px 0px 15px 0px;
}

.GoalPlanPg .goaltext ul {
  list-style: none;
  float: left;
  width: 100%;
}

.GoalPlanPg .goaltext ul li {
  float: left;
  width: 100%;
  margin-bottom: 15px;
  color: #001837;
  font-size: 16px;
  padding-left: 20px;
  background: url(./../../static/images/dots.png) no-repeat left center;
}

.GPgtoSurveryLink {
  position: absolute;
  right: 20px;
  bottom: 15px;
  background: url('./../../static/images/take-risk-profile-quiz.png') no-repeat left center;
  padding-left: 22px;
}




/*start new goal plan result page design*/
.GoalPlanPg select {
  width: auto;
  border: none;
  background-image: url(./../../static/images/dropdwonArrow.png);
  background-repeat: no-repeat;
  background-position: right center;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.GoalPlanPg select {
  padding-right: 25px;
}

.GoalPlanPg .goalPlanHeader .editData li {
  min-width: 160px;
}

.rightEditData {
  margin-top: 20px;
}

.rightEditData li {
  padding: 0px;
  width: 100%;
  text-align: center;
  margin-top: 25px;
}

.rightEditData li p {
  color: #5c6b7e;
  font-size: 42px;
  line-height: 80px;
  text-transform: none;
}

.rightEditData li label {
  color: #5c6b7e;
  width: 100%;
  font-size: 16px;
  text-transform: capitalize;
  display: block;
}

.rightEditData li:last-child {
  padding-left: 0px;
  padding-top: 20px;
}

.rightEditData li a.primary_btn_red {
  margin: 0;
  padding: 15px 80px;
  font-size: 16px;
  border-radius: 6px;
}

.GoalPlanPg .goalbody {
  padding: 0px;
}

.GoalPlanPg .lineLeft {
  border-right: 1px solid #eeeeee;
  margin-right: -1px;
  padding: 20px;
  text-align: center;
  width: 70%;
}

.GoalPlanPg .lineRight {
  border-left: 1px solid #eeeeee;
  width: 30%;
}

.GoalPlanPg .goalbody table tr th,
.GoalPlanPg .goalbody table tr td {
  border: none;
  padding: 0px 15px 20px 30px;
  color: #5c6b7e;
}

.GoalPlanPg .goalbody span.Equity {
  background: #f8342d;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  margin-right: 4px;
  position: absolute;
  left: 0px;
  top: 24px;
}

.GoalPlanPg .goalbody span.Debt {
  background: #1f6dd1;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  margin-right: 4px;
  position: absolute;
  left: 0px;
  top: 24px;
}

.GoalPlanPg .goalbody span.Hybrid {
  background: #00cb91;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  margin-right: 4px;
  position: absolute;
  left: 0px;
  top: 24px;
}

.GoalPlanPg .goalbody table span.Equity {
  top: 5px;
  left: 10px;
}

.GoalPlanPg .goalbody table span.Debt {
  top: 5px;
  left: 10px;
}

.GoalPlanPg .goalbody table span.Hybrid {
  top: 5px;
  left: 10px;
}

.GoalPlanPg .goalbody .lineLeft ul {
  list-style: none;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  margin-bottom: 20px;
}

.GoalPlanPg .goalbody .lineLeft ul li {
  float: left;
  width: auto;
  padding: 20px;
  position: relative;
  color: #001837;
}

.GoalPlanPg .goalbody .lineLeft ul li:last-child {
  padding-right: 0px;
}

.GoalPlanPg .goalbody h2 {
  margin-bottom: 0px;
}

.GoalPlanPg .goalbody table tr td.InvestAm,
.GoalPlanPg .goalbody table tr th.InvestAm {
  border-right: 1px solid #eee;
}

.GoalPlanPg .goalbody tr:last-of-type td {
  padding-bottom: 0px;
}

.GoalPlanPg .goalPlanHeader .editData small input {
  border-bottom: 1px solid rgba(0, 24, 55, 0.22);
}

.GoalPlanPg .goalbody table tr td {
  font-size: 16px;
  color: #001837;
}

.GoalPlanPg .goalbody {
  margin-bottom: -2px;
  border-color: #eee;
}

.GoalPlanPg .goalPlanHeader .editData label {
  margin-bottom: 5px;
}

.GoalPlanPg .goalbody h2 {
  font-size: 20px;
}

.GoalPlanPg .goalbody table p {
  font-size: 12px;
  color: #5c6b7e;
}

.GoalPlanPg .goalbody table tr th.text-center {
  text-align: center;
}

.GoalPlanPg .goalbody table tr:hover td a:hover {
  text-decoration: none;
}

.GoalPlanPg .goalbody table tr:hover td a strong span {
  color: #f8342d;
  text-decoration: underline;
}

//new select box design
.GoalPlanPg .goalPlanHeader .sb-container {
  font-family: 'Roboto', sans-serif;
  width: auto;
}

.GoalPlanPg .goalPlanHeader .sb-toggle {
  padding: 0px;
  border: none;
  line-height: normal;
  color: #000;
  padding-right: 28px;
}

.GoalPlanPg .goalPlanHeader .sb-toggle:focus {
  border: none;
  text-decoration: none;
}

.GoalPlanPg .goalPlanHeader .sb-toggle:after {
  top: 7px;
}

.GoalPlanPg .goalPlanHeader .sb-toggle-active:after {
  top: 7px;
}

.GoalPlanPg .goalPlanHeader .sb-dropdown li {
  padding: 0px;
  width: 100%;
  min-width: 1px;
}

.GoalPlanPg .goalPlanHeader .sb-item-focus a {
  box-shadow: none;
  text-decoration: none;
}

.GoalPlanPg .goalPlanHeader .sb-dropdown {
  width: auto
}

.GoalPlanPg .goalbody table p {
  width: 100%;
  float: left;
}


//goal plan result page new 17 march 2017
.GoalPlanPg * {
  font-family: 'Roboto', sans-serif;
}

.GoalPlanPg .goalPlanHeader .editData label {
  color: #5c6b7e;
}

.GoalPlanPg .goalbody table {
  margin-top: 34px;
  margin-bottom: 0px;
}

.GoalPlanPg .goalbody table {
  border-collapse: separate;
  /*border-collapse: collapse;border-style: hidden; border-radius: 5px; box-shadow: 0 0 0 1px #e2e7e9;*/
}

.GoalPlanPg .goalbody table tr th,
.GoalPlanPg .goalbody table tr td {
  border-right: 1px solid #e2e7e9;
  border-bottom: 1px solid #e2e7e9;
  padding: 10px 15px 10px 20px;
}

.GoalPlanPg .goalbody table span.Equity,
.GoalPlanPg .goalbody table span.Debt,
.GoalPlanPg .goalbody table span.Hybrid {
  top: 16px;
  left: 6px;
}

.GoalPlanPg .goalbody tr:last-of-type td {
  padding-bottom: 15px;
}

.GoalPlanPg .goalbody tr:last-of-type td:first-child {
  border-radius: 0 0 0px 5px;
}

.GoalPlanPg .goalbody tr:last-of-type td:last-child {
  border-radius: 0 0 5px 0px;
}

.GoalPlanPg .goalbody .lineLeft ul {
  float: right;
}

.GoalPlanPg .goalPlanHeader .editData small input {
  border-bottom: 1px solid #001837;
}

.GoalPlanPg .lineLeft {
  padding: 20px 20px 20px 30px;
}

.GoalPlanPg .calcFundRecofunds {
  background-color: #fff;
}

.top5sectionGoal {
  display: inline-block;
  width: 100%;
  padding: 40px 0;
  border-bottom: 1px solid #eee;
}

.top5sectionGoal h2 {
  font-size: 20px;
  color: #001837;
  margin-bottom: 14px;
}

.top5sectionGoal .topFundSection {
  padding: 0 20px;
  border-bottom: none;
}

.top5sectionGoal table tr td {
  font-size: 14px;
  color: #717171;
  padding: 16px 0;
  border-bottom: #f5f5f5 1px solid;
}

.top5sectionGoal table tr td strong {
  font-weight: normal;
}

.top5sectionGoal .ContactAdvisor {
  background: #fafafa;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  padding: 33px;
  text-align: center;
}

.top5sectionGoal .ContactAdvisor h3 {
  font-size: 24px;
  color: #001837;
  line-height: 30px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.top5sectionGoal .ContactAdvisor .advisorImges {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 20px 20px 0px rgba(204, 204, 204, 0.18);
}

.top5sectionGoal .ContactAdvisor .advisorImges img {
  height: 100%;
  width: 100%;
}

.top5sectionGoal .ContactAdvisor p {
  font-size: 18px;
  color: #001837;
  line-height: 26px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.top5sectionGoal .primary_btn_red {
  font-size: 16px;
  padding: 15px 30px;
}

.top5sectionGoal .detailOuter {
  padding: 0 20px;
  border-right: 1px solid #f5f5f5;
}

.top5sectionGoal .detailOuter::last-child {
  border: none;
}

.top5sectionGoal .detailOuter h2 {
  font-size: 24px;
  color: #001837;
  margin-bottom: 15px;
}

.top5sectionGoal .detailOuter h4 {
  font-size: 16px;
  color: #001837;
  margin: 12px 0;
}

.top5sectionGoal .detailOuter p {
  font-size: 14px;
  color: #828282;
  line-height: 20px;
  margin-bottom: 18px;
}

.top5sectionGoal .detailOuter .details {
  height: 315px;
  overflow: auto;
}


.topAdvisorNear {
  background: #fafafa;
  padding: 50px 0 100px 0;
  display: inline-block;
  width: 100%;
}

.topAdvisorNear h3 {
  font-size: 24px;
  color: #001837;
  margin-bottom: 45px;
  float: left;
  width: 100%;
  text-align: center;
}

.topAdvisorNear ul {
  list-style: none;
  margin: 0 auto;
  display: table;
}

.topAdvisorNear ul li {
  width: 254px;
  float: left;
  padding: 0 13px;
}

.topAdvisorNear ul li a {
  float: left;
  width: 100%;
  text-align: center;
  display: block;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid #eeeeee;
}

.topAdvisorNear ul li a h4 {
  float: left;
  width: 100%;
  font-size: 18px;
  color: #001837;
  margin: 20px 0 10px 0;
}

.topAdvisorNear ul li a .photo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 0 auto;
  background: #c0c0b6;
  display: inline-block;
}

.topAdvisorNear ul li a .photo img {
  height: 100%;
  width: 100%;
}

.topAdvisorNear ul li a p {
  float: left;
  width: 100%;
  font-size: 14px;
  color: #717171;
  margin-bottom: 5px;
}

.topAdvisorNear ul li a:hover {
  box-shadow: 0 0 16px 3px #e2e2e2;
}

.GoalPlanPg .calcFundRecofunds {
  background-color: #fff;
}

.rightEditData li {
  margin: 10px 0;
}

.rightEditData li p {
  line-height: 33px;
  font-size: 30px;
  color: #5c6b7e;
}

.rightEditData li:last-child {
  padding-top: 5px;
}

.rightEditData {
  min-height: 382px;
}

.GoalPlanPg .talktoAdv {
  float: left;
  width: 100%;
  padding: 8px 10px 27px 90px;
  background-position: left 11px;
}

.GoalPlanPg .talktoAdv .lgtFormField {
  float: left;
  width: 100%;
}

.GoalPlanPg .talktoAdv h2 {
  font-size: 17px !important;
  margin-top: 0px !important;
  margin-bottom: 13px !important;
  color: #001837 !important;
  text-transform: capitalize !important;
  text-align: left !important;
}

.GoalPlanPg .OrText {
  font-size: 16px;
  text-transform: uppercase;
  color: #757575;
  font-weight: bold;
  position: relative;
}

.GoalPlanPg .OrText:before {
  content: "";
  width: 13%;
  height: 1px;
  background: #eee;
  position: absolute;
  left: 29%;
  top: 9px;
}

.GoalPlanPg .OrText:after {
  content: "";
  width: 13%;
  height: 1px;
  background: #eee;
  position: absolute;
  right: 29%;
  top: 9px;
}

.GoalPlanPg .BtnGoalPResultModi {
  border: 1px solid #1f6dd1;
  padding: 7px 20px;
  display: inline-block;
  border-radius: 3px;
  font-size: 12px;
  margin-top: 8px;
  background: transparent;
  color: #1f6dd1;
  cursor: pointer;
}

.GoalPlanPg .goalPlanHeader .sb-toggle:after {
  top: 7px;
  right: 9px;
  border-bottom: none;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #555;
}

#signupLgtBox .lgtFormField {
  margin-bottom: 10px;
}

#signupLgtBox .lightboxCommonBtn {
  margin-top: 30px;
}

.lightBox_container .lgtFormField label {
  padding-left: 0px;
}

.GoalPlanPg .goalPlanHeader .sb-toggle {
  min-width: 196px;
}


.topFundSectionContent {
  width: 46%;
  float: left;
}

.topFundSectionContent.frt {
  float: right;
}

.top5sectionGoal {
  display: inline-block;
  width: 100%;
  padding: 40px 0;
  border-bottom: 1px solid #eee;
}

.top5sectionGoal h2 {
  font-size: 20px;
  color: #001837;
  margin-bottom: 14px;
}

.top5sectionGoal .topFundSection {
  padding: 0 20px;
  border-bottom: none;
}

.top5sectionGoal table tr td {
  font-size: 14px;
  color: #717171;
  padding: 16px 0;
  border-bottom: #f5f5f5 1px solid;
}

.top5sectionGoal table tr td strong {
  font-weight: normal;
}

.top5sectionGoal .ContactAdvisor {
  background: #fafafa;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  padding: 33px;
  text-align: center;
}

.top5sectionGoal .ContactAdvisor h3 {
  font-size: 24px;
  color: #001837;
  line-height: 30px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.top5sectionGoal .ContactAdvisor .advisorImges {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 20px 20px 0px rgba(204, 204, 204, 0.18);
}

.top5sectionGoal .ContactAdvisor .advisorImges img {
  height: 100%;
  width: 100%;
}

.top5sectionGoal .ContactAdvisor p {
  font-size: 18px;
  color: #001837;
  line-height: 26px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.top5sectionGoal .primary_btn_red {
  font-size: 16px;
  padding: 15px 30px;
}

.top5sectionGoal .detailOuter {
  padding: 0 20px;
  border-right: 1px solid #f5f5f5;
}

.top5sectionGoal .detailOuter::last-child {
  border: none;
}

.top5sectionGoal .detailOuter h2 {
  font-size: 24px;
  color: #001837;
  margin-bottom: 15px;
}

.top5sectionGoal .detailOuter h4 {
  font-size: 16px;
  color: #001837;
  margin: 12px 0;
}

.top5sectionGoal .detailOuter p {
  font-size: 14px;
  color: #828282;
  line-height: 20px;
  margin-bottom: 18px;
}

.top5sectionGoal .detailOuter .details {
  height: 315px;
  overflow: auto;
}

.secondary_btn_red {
  background-color: transparent;
  border: #f8342d solid 1px;
  color: #f8342d;
}

.primary_btn_red,
.secondary_btn_red,
.alternate_btn {
  text-decoration: none;
  padding: 15px 20px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  /* letter-spacing: 1px; */
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}

.mutFundContArticle {
  width: 31.33%;
  margin: 0 1%;
  float: left;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  color: #5c6b7e;
}


.mutFundContArticle h3 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #001837;
  margin-bottom: 8px;
}

.mutFundContArticle a {
  display: block;
  text-decoration: none;
}

.mutFundContArticle a:hover {
  transform: scale(1.05);
}

.homeMutualContent {
  padding: 70px 0;
  background-color: #fff;
  display: inline-block;
  width: 100%;

  h2 {
    margin-bottom: 70px;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.2px;
    text-align: center;
    color: #001837;
  }
}

.CalcHomeBgProces .mutFundIcon {
  height: auto;
}

.CalcHomeBgProces h2 {
  font-size: 30px;
  color: #001837;
  font-weight: 400;
  margin-bottom: 50px;
}

.CalcHomeBgProces .group {
  border: 2px solid #edeeee;
  border-radius: 5px;
  display: inline-block;
  width: 100%;
}

.CalcHomeBgProces .mutFundContArticle {
  width: 33.3333%;
  position: relative;
  margin: 0px;
  height: 303px;
  border-right: 2px solid #edeeee;
  padding-top: 45px;
  padding-bottom: 45px;
  box-shadow: 19px 0px 20px 0px rgba(204, 204, 204, 0.05);
}

.CalcHomeBgProces .mutFundContArticle p {
  font-size: 14px;
}

.CalcHomeBgProces .mutFundContArticle:last-child {
  border: none;
}

.CalcHomeBgProces .mutFundContArticle:last-child:hover {
  box-shadow: none;
}

.CalcHomeBgProces .mutFundContArticle:hover {
  box-shadow: 19px 0px 20px 0px rgba(204, 204, 204, 0.10);
}

.CalcHomeBgProces .mutFundContArticle:after,
.CalcHomeBgProces .mutFundContArticle:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.CalcHomeBgProces .mutFundContArticle:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #fff;
  border-width: 25px;
  margin-top: -25px;
}

.CalcHomeBgProces .mutFundContArticle:before {
  border-color: rgba(237, 238, 238, 0);
  border-left-color: #edeeee;
  border-width: 28px;
  margin-top: -28px;
}

.CalcHomeBgProces .mutFundContArticle:last-child:after,
.CalcHomeBgProces .mutFundContArticle:last-child:before {
  display: none;
}

.CalcHomeBgProces.CalcFundRec {
  background: #fafafa;
  text-align: center;
}

.CalcHomeBgProces.CalcRisk {
  background: #001837;
}

.CalcHomeBgProces.CalcRisk ul {
  list-style: none;
}

.CalcHomeBgProces.CalcRisk h2 {
  color: #fff;
}

.CalcHomeBgProces.CalcRisk .resultsurvey ul li {
  height: 320px !important;
  width: 330px !important;
  padding: 30px 20px;
  opacity: 1;
  margin: 0 25px;
  border: 2px solid #081f3d;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}

.CalcHomeBgProces.CalcRisk .resultsurvey p {
  font-size: 13px;
  color: #fff;
  opacity: .75;
}

.CalcHomeBgProces.CalcRisk .resultsurvey ul li h4 {
  margin-bottom: 15px;
}

.CalcHomeBgProces.CalcRisk .resultsurvey ul li span {
  background-size: 100%;
}

.CalcHomeBgProces.CalcRisk .resultsurvey ul li:hover {
  box-shadow: 0 0 70px rgba(0, 0, 0, .25);
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}

.CalcHomeBgProces.CalcRisk .resultsurvey .secondary_btn_red {
  width: 277px;
  border-color: #d72f2f;
  color: #d72f2f;
  margin-top: 30px;
}

.CalcHomeBgProces.CalcRisk .secondary_btn_red:hover,
.CalcHomeBgProces.CalcRisk .resultsurvey .secondary_btn_red:focus {
  background: transparent;
  border-color: #d72f2f;
  color: #d72f2f;
  opacity: .7;
}

.resultsurvey {
  width: 100%;
  display: inline-block;
  padding: 0px;
  text-align: center;
}

.resultsurvey h3 {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #bfd6e1;
  margin-bottom: 14px;
  margin-top: 10px;
  color: #fff;
}

.resultsurvey ul {
  width: auto;
  display: inline-block;
  margin: 10px 0px 0px 0px;
  float: none;
  text-align: center;
}

.resultsurvey ul li {
  float: left;
  width: 224px;
  height: 223px;
  margin: 10px 20px;
  min-height: auto;
  opacity: .12;
  text-align: center;
  background-color: transparent;
  border-radius: 5px;
}

.resultsurvey ul li {
  float: left;
  width: 224px !important;
  height: 223px !important;
  margin: 10px 20px;
  min-height: auto !important;
  opacity: .12;
  text-align: center;
  background-color: transparent !important;
  border-radius: 5px;
}

.resultsurvey ul li span {
  height: 118px;
  width: 148px;
  display: inline-block;
}

.resultsurvey ul li span.conv {
  background: url(./../../static/images/converImg.png) no-repeat center center;
  background-size: 80%;
}

.resultsurvey ul li span.agg {
  background: url(./../../static/images/aggimg.png) no-repeat center center;
  background-size: 80%;
}

.resultsurvey ul li span.mod {
  background: url(./../../static/images/modimg.png) no-repeat center center;
  background-size: 80%;
}

.resultsurvey ul li h4 {
  font-size: 24px;
  margin-top: 15px;
  text-align: center;
  width: 100%;
  float: left;
  color: #fff;
}

.resultsurvey ul li.active {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.24);
  opacity: 1;
  margin: 0 auto;
  background-color: #001837;
}

.resultsurvey ul li.active span {
  background-size: 100%;
  margin: 0 auto;
}

.resultsurvey ul li.active h4 {
  font-size: 30px;
  opacity: 1;
}

.resultsurvey .primary_btn_red {
  width: 295px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  border-radius: 25px;
}

.resultsurvey .secondary_btn_red {
  font-weight: normal;
  width: 200px;
  color: #5c6b7e;
  border-color: #5c6b7e;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  font-size: 13px;
  border-radius: 25px;
  margin-top: 20px;
}

.resultsurvey .secondary_btn_red:hover,
.resultsurvey .secondary_btn_red:focus {
  background: transparent;
  border-color: #5c6b7e;
  opacity: .7;
}

.resultsurvey p {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #99a9bf;
  margin-bottom: 20px;
  font-size: 20px;
}

.hideNav .unslider-arrow,
.hideNav .numAnswer {
  display: none;
}

.calcLeTopfunds {
  background: #fafafa;
}

.calcLeTopfunds .mutFundIcon {
  height: auto;
}

.calcLeTopfunds .mutFundIcon img {
  width: 102px;
  height: 76px;
}

.calcLeTopfunds .mutFundContArticle {
  width: 23%;
  border: 1px solid transparent;
  border-radius: 4px;
  background: transparent;
  padding: 20px;
  min-height: 230px;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}

.calcLeTopfunds .mutFundContArticle:hover {
  border: 1px solid #efefef;
  background: #fff;
  box-shadow: 0 0 49px rgba(204, 204, 204, 0.64);
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}

.calcMutualCont h2 {
  font-weight: 400;
  margin-bottom: 50px;
  font-size: 30px;
}

.footerMain {
  background-color: #fbfcfd;
  border-top: #dfeef5 solid 1px;
  padding: 45px 0;
  /* padding: 10px 0; */
}

.footerMain h3 {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 8px;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #5c6b7e;
}

.footerMain .group {
  display: inline-block;
  width: 100%;
}

.footerCols {
  width: 165px;
  margin-right: 40px;
  float: left;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.67;
  color: #96a9bb;
}

.footerCols ul li {
  list-style: none;
}

.footerCols ul li a {
  line-height: 1.67;
  color: #96a9bb;
  text-decoration: none;
}

.footerCols ul li a:hover,
.footerCols ul li a:focus {
  color: #1f6dd1;
}

.footerSuport {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.67;
  color: #96a9bb;
  width: 360px;
  float: left;
}

.footerSuport a {
  font-weight: 600;
}

.footerCopyright {
  padding-top: 45px;
  /* padding: 5px 0; */
  float: left;
}

.footerCopyright ul li {
  list-style: none;
  display: inline;
  margin-right: 40px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
  color: #96a9bb;
}

.footerCopyright ul li a {
  color: #96a9bb;
  text-decoration: none;
}

.footerCopyright ul li a:hover,
.footerCopyright ul li a:focus {
  color: #1f6dd1;
}

.footerRight {
  float: right;
}
