.commonLightbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    margin-top: -67px;
    height: 50rem;
    display: none;
    overflow-y: auto;

    .lightBox_container {
        width: 420px;
        background-color: #ffffff;
        margin: 5rem auto;
        margin-bottom: 30rem;
        border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        box-shadow: 0 12px 32px 0 #bac6cc;
    }

    .msgLgt_box {
        width: 615px;


    }

    .lgtCloseBtn {
        position: relative;
        z-index: 1;

        a {
            color: #1f6dd1;
            text-decoration: none;


        }

        .lightboxCloseBtn {
            width: 12px;
            height: 12px;
            background-image: url(../../../images/close.png);
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            right: 15px;
            top: 15px;
            display: block;
            overflow: hidden;
            text-indent: -99999999px;
        }
    }

    .acc_lg_head {
        padding: 18px 30px;
        border-bottom: solid 1px #dfeef5;

        h2 {
            font-size: 20px;
            font-weight: 600;
            color: #001837;
            margin-bottom: 0;
            text-align: left;
        }
    }

    .msgHistory {

        article {
            padding: 25px 30px;
            min-height: 175px;
            border-bottom: solid 1px #dfeef5;

            .msgUserPic {
                width: 42px;
                float: left;
                margin-right: 20px;

                img {
                    width: 100%;
                    border-radius: 100%;
                    -moz-border-radius: 100%;
                    -webkit-border-radius: 100%;
                }

            }

            .msgUserContent {
                width: 490px;
                float: left;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.57;
                color: #5c6b7e;

                h6 {
                    font-size: 14px;
                    font-weight: 400;
                    color: #bac7cc;
                    margin-bottom: 5px;

                    strong {
                        color: #001837;
                        font-weight: 600;
                    }
                }
            }
        }

        .group {
            zoom: 1 !important;
        }
    }

    .msgTextbox {
        background-color: #f9fcfd;
        padding: 12px 15px;
        border-radius: 0 0 8px 8px;
        -moz-border-radius: 0 0 8px 8px;
        -webkit-border-radius: 0 0 8px 8px;

        input.textField {
            font-size: 16px;
            font-weight: 400;
            color: #96a9bb;
            width: 450px;
            float: left;
            padding: 7px 0;
            border: none;
            background-color: #f9fcfd;
        }
        input.primary_btn_red {
            float: right;
        }

        .primary_btn_red.small_btn {
            padding: 5px 14px 6px;
            font-size: 14px;
            font-weight: 400;
            text-transform: capitalize;
        }   

        .primary_btn_red {
            background-color: #f8342d;
            border: #f8342d solid 1px;
            color: #ffffff;
            
        }

        a {
            color: #1f6dd1;
            text-decoration: none;  
        }
        .fileAttachBtn {
            width: 17px;
            height: 19px;
            text-indent: -9999999px;
            overflow: hidden;
            display: block;
            float: right;
            background-image: url(../../../images/attachment.png);
            background-repeat: no-repeat;
            margin-top: 8px;
            margin-right: 10px;
        }
    }



}
.msgTextbox input.primary_btn_red {
    float: right;
}